<!DOCTYPE html>
<html land="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Janata Newari Food</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/cafe.css' %}">
        <script src="{% static 'js/cafe.js' %}"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    </head>    
    <body>
        <header class="header">
            <div class="container">
               <div class="header-main">
                  <div class="logo">
                    <a href="{% url 'home' %}">FoodFeed</a>
                  </div>
                  <div class="open-nav-menu">
                     <span></span>
                  </div>
                  <div class="menu-overlay">
                  </div>
                  <!-- navigation menu start -->
                  <nav class="nav-menu">
                    <div class="close-nav-menu">
                       <img src="img/close.svg" alt="close">
                    </div>
                    <ul class="menu">
                        <li class="menu-item menu-item-has-children">
                            <a href="#cafes" data-toggle="sub-menu">
                                <i class="fa-solid fa-bell-concierge" id="dcafe"></i> Cafes <i class="fas fa-down-arrow"></i>
                            </a>
                            <ul class="sub-menu">
                                <li class="menu-item"><a href="{% url 'stationcafe' %}">Station Cafe</a></li>
                                <li class="menu-item"><a href="{% url 'manjilcafe' %}">Manjil Cafe</a></li>
                                <li class="menu-item"><a href="{% url 'manakamanacafe' %}">Manakamana Cafe</a></li>
                                <li class="menu-item"><a href="{% url 'bishalcafe' %}">Bishal Cafe</a></li>
                                <li class="menu-item"><a href="{% url 'matkacafe' %}">Matka Cafe</a></li> <!-- Updated link for Matka Cafe -->
                                <li class="menu-item"><a href="{% url 'hungerkills' %}">Hunger Kills</a></li>
                                <li class="menu-item"><a href="{% url 'sitoshna' %}">Sitoshna</a></li>
                                <li class="menu-item"><a href="{% url 'sarita' %}">Sarita Cafe</a></li>
                                <li class="menu-item"><a href="{% url 'janata' %}">Janata Newari Food</a></li>
                            </ul>
                        </li>
                        
                       <li class="menu-item">
                        <a href="#footer"><i class="fas fa-message" id="contact-us"></i> Contact Us</a>
                    </li>
                       </li>
                       <li class="menu-item">
                        <a href="{% url 'auth_login' %}">Login</a>
                       </li>
                       
                    </ul>
                  </nav>
                  <!-- navigation menu end -->
               </div>
            </div>
         </header>

        <div id="cafe">
            <div class="container">
                <div class="row">
                    <div class="cafe-col-1">
                        <img src="{% static 'images/Janta.png' %}" alt = "">
                       
                    </div>
                    <div class="cafe-col-2">
                        <h1 class="subtitle">Janata Newari Food</h1>
                       
                        <div class="tab-titles">
                            <p class="tab-links active-link" onclick="opentab('info')">Information</p>
                            <p class="tab-links" onclick="opentab('menu')"><a>Menu</a></p>
                            <p class="tab-links" onclick="opentab('review')"><a href="{% url 'auth_login' %}">Reviews</a></p>
                        </div>
                        <div class="tab-contents active-tab" id="info">
                            <ul>
                                <li><span>Contact Number</span><br>+977 9812345678</li>
                                <li><span>Status</span><br>Open From: 7:00 am - 9:00 pm</li>
                                <li><span>Delivery Service Available</span><br></li>
                                <li><span>Location</span><br><a href="https://www.google.com/maps/place/The+Station+Cafe/@27.6206684,85.5338813,17z/data=!4m10!1m2!2m1!1sstation+cafe+dhulikhel!3m6!1s0x39eb08dfa8aa40c1:0x1badf0cb4f283a0d!8m2!3d27.6206648!4d85.5386409!15sChZzdGF0aW9uIGNhZmUgZGh1bGlraGVsWhgiFnN0YXRpb24gY2FmZSBkaHVsaWtoZWySAQRjYWZl4AEA!16s%2Fg%2F11f2sgph_p?entry=ttu">KU Road Dhulikhel</a></li>
                            </ul>
                        </div>

                        <div class="tab-contents" id="menu">
                            <div class="mimg">
                                <img src="{% static 'images/janatamenu.jpg' %}" alt = "" style="width: 100%; height: auto; float: left; margin-right: 20px;">
                            
                            </div>
                        </div>
                        
                       
                    </div>
                </div>
        </div>
    </div>


    
    <!---Contact-Us--->
    <p>&nbsp;</p>
    <footer>
        <div class="footer_main">

            <div class="footer_tag">
                <h2>Location</h2>
                <p>Nepal</p>
                <p>Dhulikhel, Kathmandu University</p>
            </div>

            

            <div class="footer_tag">
                <h2>Contact</h2>
                
                <p>+977 9812345670</p>
                <p>food.feed123@gmail.com</p>
            </div>

            <div class="footer_tag">
                <h2>Follow Us</h2>
                <i class="fa-brands fa-facebook-f"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-linkedin-in"></i>
            </div>

        </div>

        <p class="end">Copy Right &copy; 2023 FoodFeed | Published on: Dec 16, 2023</p>


    </footer>

    </body>